<html>
    <body>
        <h2>Customer leaving bank predictor, made with Keras, Tensorflow</h2>
    <form method='post'>
      <!--alle rækker og de 10 (13 kategorier) kolonner mellem Surname og EstimatedSalary-->

      Input CreditScore: <input type='text' name='in1' placeholder='600' /></br>

      Input Age: <input type='text' name='in2' placeholder='40' /></br>

      Input Tenure: <input type='text' name='in3' placeholder='3' /></br>

      Input Balance: <input type='text' name='in4' placeholder='60000' /></br>

      Input NumOfProducts: <input type='text' name='in5' placeholder='2' /></br>

      Input HasCrCard: <input type='text' name='in6' placeholder='1 or 0' /></br>

      Input IsActiveMember: <input type='text' name='in7' placeholder='1 or 0' /></br>

      Input EstimatedSalary: <input type='text' name='in8' placeholder='50000' /></br>

      <!--geography-->
      Input France: <input type='text' name='in9' placeholder='1 or 0' /></br>
      Input Germany: <input type='text' name='in10' placeholder='1 or 0' /></br>
      Input Spain: <input type='text' name='in11' placeholder='1 or 0' /></br>

      <!--gender-->
      Input female: <input type='text' name='in12' placeholder='1 or 0' /></br>
      Input male: <input type='text' name='in13' placeholder='1 or 0' /></br>

      <input type='submit'/>
    </form>
<h3>The result is {{ result }}</h3>
</body>
</html>

